<mat-toolbar id="toolbar">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <h1>Shiftz</h1>
            <span class="menu-spacer"></span>
            <div>
                <a mat-button [routerLink]="'/login'"> Log Out </a>
                <a mat-button [routerLink]="'/calendar'"> See Your Calendar </a>
                <a mat-button [routerLink]="'/marketboard'"> View The Market Board </a>
                <a mat-button [routerLink]="'/company-homepage'"> Home </a>
    
            </div>
        </mat-toolbar-row>
    
        <mat-toolbar-row>
            <span style="font-size: 18px;">Need a Shift? Get a Shift.</span>
        </mat-toolbar-row>
    </mat-toolbar>
