<app-navbar></app-navbar>
<div id="page-container">
    <app-profile-picture></app-profile-picture>
<!--     <app-job-dropdown></app-job-dropdown> -->
    <app-tabbed-table></app-tabbed-table>
</div>





  <!--     <mat-card-actions align="end">
        <form action="register" method="POST">
        <button routerLink="/login" mat-raised-button color="primary">Login</button>
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button routerLink="/register-company" mat-raised-button color="primary">Register as Company</button>
        </form>
</mat-card-actions> -->