<mat-card id="job-drop-down">
    <mat-label>Job Description</mat-label>
<mat-form-field >
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="FRONTHOUSE">Front House</mat-option>
      <mat-option value="FLOOR">Floor/Wait</mat-option>
      <mat-option value="BACKHOUSE">Back House</mat-option>
      <mat-option value="HOST">Host</mat-option>
      <mat-option value="MAITRED">Maitre'd</mat-option>
      <mat-option value="WAITER">Waiter</mat-option>
      <mat-option value="BARTENDER">Bartender</mat-option>
      <mat-option value="BUSSER">Busser</mat-option>
      <mat-option value="BARBACK">Barback</mat-option>
      <mat-option value="SOMMELIER">Sommelier</mat-option>
      <mat-option value="HEADCHEF">Head Chef</mat-option>
      <mat-option value="PREPCHEF">Prep Chef</mat-option>
      <mat-option value="LINECHEF">Line Chef</mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- <p>You selected: {{selected}}</p> -->
</mat-card>
