td {
  padding-right: 10px;
} 

.login-main{
  margin-top: 10%;
  }
  mat-card{
  min-width: 40%;
  max-width: 1000px;
  }

.fab-container{
display: inline-block;
}

.full{
width: 100%;
}

.half{
width: 50%;
}

.third{
width: 30%;
}

.company-code{
width: 100%;
}



